@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Tangerine&display=swap');

.green {
    background: rgb(44, 75, 69);
    background: linear-gradient(90deg, rgba(44, 75, 69, 0.6278886554621849) 0%, rgba(44, 75, 69, 0.6306897759103641) 100%);
}


.sacramentoFont {
    font-family: 'Sacramento', cursive;
}