@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Tangerine&display=swap');

.footer {
    background-color: #21201E;
    color: whitesmoke;

}

.contact {
    color: whitesmoke;
}

.res-name {
    color: whitesmoke;
    font-family: 'Sacramento', cursive;
    font-size: 1.7rem;
}