@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    user-select: none;
    /* Chrome y otros navegadores modernos */
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.nav-btn {
    @apply flex font-medium text-3xl lg:text-xl items-center justify-center text-black w-full lg:w-auto p-4 h-14 lg:h-full text-center active:bg-amber-500/[.2]
}